<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basta</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <style>
        .font-nastaliq {
          font-family: 'Noto Nastaliq Urdu', serif;
        }
      </style>
</head>

<body class="font-['helvetica_now_display'] bg-black text-white">
      <nav class="w-full px-5 py-3  flex justify-between items-center">
        <h3 class=" font-nastaliq text-pink-900 text-3xl font-bold ">بستا</h3>
        <% var loggedin = typeof loggedin !== "undefined" ? loggedin: true %>
        <% if(loggedin){ %>
          <div class="flex gap-5 ">
            <a class="hover:text-gray-400"  href="">Shop</a>
            <a class="hover:text-gray-400"  href="">Cart</a>
            <a class="hover:text-gray-400"  href="">My Account</a>
            <a  href="" class="text-red-700 hover:text-red-500">Logout</a>
          </div>
        <% } %>
    </nav>